.items {
    border: 1px solid #DDDDDD;
    justify-content: space-between;
    height: 100%;
}
.items img {
    width: 100%;
}
.badge, .badge-time {
    position: relative;
}
.badge {
    width: 20%;
    font-size: 14px;
}
.data, .time {
    
    position: absolute;
}
.data {
    background-color: #2396A6;
}
.time {
    background-color: #3E5171;
    width: 100%;
}
.buttons {
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    color: #999999;
    padding: .5rem 1.25rem;
    border: 1px solid #999999;
    background-color: #F2F2F2;
}
.buttons a {
    padding: .25rem;
}